<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://www.peppercat.org/">
    <title><%= country %> leaders data from Peppercat</title>
    <script src="https://kit.fontawesome.com/fa7d412e6b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet.css">
    <style>
      .bio { display: none }

      #officeholders { text-align: center }

      dt {
        clear: both;
        font-weight: bold;
        font-variant: small-caps;
        padding: 2em 0em 0.5em 0em;
      }

      dl {
        display: inline-block;
        text-align: left;
      }

      img.bioimg {
        float:left;
        padding: 0 1em 1.5em 1em;
      }

      .bio li {
        font-size: smaller;
        list-style-type: none;
        padding: 0.1em;
      }

      #download {
        float: right;
        font-size: 200%;
        clear: both;
      }
      #download a { text-decoration: none }
    </style>
  </head>
  <body>
    <div class="logo-bar">
      <a href="/">
        <div class="logo-box">
          <img class="logo" alt="peepercat" height="75" src="/img/peppercat_peeping_logo.png">
          <div class="claim-box"><h2>Peppercat: the collaborative World Leaders list</h2></div>
        </div>
      </a>
      <div class="navigation-bar">
        <ul>
          <li><p><a href="/"><img class="wordmark" alt="peppercat" height="50" src="/img/peppercat_wordmark.png"></a></p></li>
          <li style="float:right"><h3><a href="/about.html">About</a></h3></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <%- table=CSV.table(csvfile) -%>
      <div id="officeholders">
        <h1><%= country %></h1>
        <dl>
        <%- table.group_by { |row| row[:personid] }.each do |person, positions| -%>
            <dt><%= positions.map { |mem| mem[:position] }.join('<br />') %></dt>
            <dd>
              <span class="toggle"><%= positions.first[:person] %></span>
              <div class="bio">
                <% unless positions.first[:image].to_s.empty? %><img class="bioimg" width="100" alt="image of <%= positions.first[:person] %> from Wikimedia Commons" src="https://commons.wikimedia.org/wiki/Special:FilePath/<%= positions.first[:image].gsub(' ','%20').gsub('"','%22') %>?width=100" /><% end %>
                <ul>
                  <% unless positions.first[:gender].to_s.empty? %><li><%= positions.first[:gender] %></li><% end %>
                  <% unless positions.first[:dob].to_s.empty? %><li>born <%= positions.first[:dob] %></li><% end %>
                  <li>in office since <%= positions.first[:start] %></li>
                  <li>
                    <% unless positions.first[:enwiki].to_s.empty? %><a href="https://en.wikipedia.org/wiki/<%= positions.first[:enwiki].gsub(' ', '_') %>"><img width="32" alt="Wikipedia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Cib-wikipedia_%28CoreUI_Icons_v1.0.0%29.svg/32px-Cib-wikipedia_%28CoreUI_Icons_v1.0.0%29.svg.png" /></a><% end %>
                    <a href="https://www.wikidata.org/wiki/<%= positions.first[:personid] %>"><img width="50" alt="Wikidata" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/50px-Wikidata-logo.svg.png"></a>
                  </li>
                </ul>
              </div>
            </dd>
          <%- end -%>
        </dl>
      </div>

      <div id="download"><a class="fas fa-file-download" href="current.csv"> CSV</a></div>
    </div>

    <script>
      $(".toggle").prepend('► ').click(function() { $(this).next('.bio').toggle() } );
    </script>
  </body>
</html>
